mixin sActions(data)
	// start sActions
	+b.sActions.section#sActions&attributes(attributes)
		.container
			+e.descr Покупка бытовой техники, особенно крупной, всегда связана с непростым выбором и занимает много времени. Потом ещё приходится доплачивать за то, чтобы она приехала в целости и сохранности, причём стоимость доставки может достигать нескольких тысяч рублей! Но мы всегда идём навстречу нашим клиентам и сделали услугу доставки техники (на выделенный ассортимент) до порога вашего дома в г. Москве абсолютно бесплатной! Товар, участвующий в акции, вы можете найти в нашем Каталоге.
			+e.row.row
				+sActionsItem(1, 'Покупай в кредит!', 'В нашем магазине можно приобрести товары в рассрочку или кредит без <br> первоначального взноса и переплат через Почта Банк.')
				+sActionsItem(2, 'Скидка 5% на посудомоечную технику', 'В нашем магазине можно приобрести товары в рассрочку или кредит без <br> первоначального взноса и переплат через Почта Банк.')
				+sActionsItem(3, 'Скидка 15% на холодильники', 'В нашем магазине можно приобрести товары в рассрочку <br> без первоначального взноса и переплат через Почта Банк.')
	// end sActions

mixin sActionsItem(imgNum, title, descr)
	.col-lg-6
		+e.item
			+e.bg
				img(loading="lazy" src=`img/@2x/sActions-${imgNum}.jpg` alt="")
			+e.title=title
			+e.desr!=descr
			+e.btn(href='#') подробнее