mixin sHello(data)
	// start sHello
	+b.SECTION.sHello.section#sHello&attributes(attributes)
		.container
			+b.section-title
				h2 Приветствуем Вас на сайте компании «Китченмания»!
				p Наша история началась в 2009 году. С тех пор мы постоянно развиваемся и сейчас рады представить вам новейший формат салона бытовой техники, где объединились все лучшие элементы классического офф-лайн шоу-рума и современного интернет-магазина:
				ul
					li
						| Можно приехать к нам в гости и познакомиться лично, а лучшие профессионалы своего дела – наши консультанты, с удовольствием проведут экскурсию и
						|
						br
						| посоветуют, что лучше всего подходит под ваши ожидания и требования;
					li Можно потрогать и оценить выбранный товар «в живую»;
					li
						| Можно увидеть, как действительно работает техника в специально оборудованных для этого зонах: кухни и постирочная комната полностью укомплектованы
						|
						br
						| оборудованием, подключены и к электричеству, и к водоснабжению;
					li
						| Можно не торопиться с выбором на месте, сделать заказ в онлайн-версии нашего шоу-рума, то есть на этом сайте, так как цены у нас одинаковые на обоих
						|
						br
						| площадках.
	// end sHello