mixin sDescr(data)
	// start sDescr
	+b.sDescr.section#sDescr&attributes(attributes)
		+e.container.container
			+e.backplate
				.container
					+e.row.row
						+e.col--left.col-lg-auto
							+pic('sDescr.png')(class="sDescr__img")
						+e.col--right.col-lg
							+e.black
								p Текущие тренды в дизайне интерьеров задают новые планки для стандартного наполнения кухонного пространства. От техники требуется не только функциональность и долговечность, но и интересные текстуры и фактуры.
								p Последние годы наша компания наблюдает повышенный спрос на технику идеально черного, золотого, медного цвета, а также приборов в отделке вороненая сталь.
							+e.white
								p К сожалению, мировые производители не так быстро принимают и следуют новым тенденциям, а часто просто не готовы выдавать индивидуальный продукт. Поэтому, мы решили взять это в свои руки! И с радостью готовы вам предложить реализацию тренда последних лет – вытяжку в глянцевой ЗОЛОТОЙ отделке. И не только!

	// end sDescr