mixin sHowToOrderHead(data)
	// start sHowToOrderHead
	+b.SECTION.sHowToOrderHead.section#sHowToOrderHead&attributes(attributes).bg-wrap
		+pic('сonnectionHead-bg.jpg', 'bg').picture-bg
		.container
			+e.wrrap
				h2 Оплачивать заказы в&nbsp;нашем салоне очень легко и&nbsp;удобно
				p Мы&nbsp;предусмотрели различные способы!
				button(type="button")
					+icon('down-scroll')
	// end sHowToOrderHead