// start .sProd
.sProd {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(49)};

	&__bg-box{
		position: relative;
		z-index: 1;
		padding-top: rem(45);

		padding-bottom: rem(80);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(100);
		}
		@include media-breakpoint-up(lg){
			padding-bottom: rem(148);
		}
	}
	&__bg{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background:$gray-900;
		&:before,
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
		}

		&:before{
			width: 100%;
			height: rem(140);
			background: linear-gradient(180deg, rgba(38, 38, 38, 0.65) 0%, rgba(38, 38, 38, 0) 100%);
		}
		&:after{
			background: linear-gradient(89.69deg, #262626 -3.67%, rgba(38, 38, 38, 0) 92.59%);
			opacity: 0.3;
			width: 50%;
			height: 100%;
		}

		img{
			opacity: 0.7;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.breadcrumb{
		margin: 0 0 rem(35) 0;
		@include media-breakpoint-up(sm){
			margin: 0 0 rem(50) 0;
		}
		@include media-breakpoint-up(xl){
			margin: 0 0 rem(75) 0;
		}
	}
	.section-title{
		h1{
			font-size: rem(40);
			@include media-breakpoint-up(lg){
				font-size: rem(42);
			}
			@include media-breakpoint-up(xl){
				font-size: rem(50);
			}
			@include media-breakpoint-up(xxl){
				font-size: rem(59);
			}

			line-height: calc(71/59);
			color: $gray-110;

			margin-bottom: rem(30);
		}
		p{
			font-size: rem(20);
			line-height: calc(25/20);
			color: $white;
		}
	}
	&__buy-row{
		--bs-gutter-y: #{rem(20)};

		--bs-gutter-x: #{rem(16)};
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(41)};
		}

		padding-bottom: rem(75);
	}
	&__buy-btn{
		@extend .btn;
		@extend .btn-primary;

		text-transform: uppercase;

		min-width: rem(155);
		@include media-breakpoint-up(sm){
			min-width: rem(217);
		}
	}
	&__price{
		font-weight: 600;
		font-size: rem(20);
		@include media-breakpoint-up(sm){
			font-size: rem(24);
		}
		line-height: 1;
	}
	.tags-row{
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(48)};
		}
		padding-bottom: 0;
	}
	//
	&__content{
		position: relative;
		z-index: 2;

		top: rem(-30);
		margin-bottom: rem(-30);
		@include media-breakpoint-up(sm){
			top: rem(-63);
			margin-bottom: rem(-63);
		}
	}
	&__p-main-row{
		--bs-gutter-y: #{rem(35)};

		--bs-gutter-x: #{rem(24)};
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
		}
		padding-bottom: rem(60);
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(59)};
			padding-bottom: rem(97);
		}
	}
	&__img-col{
		@include media-breakpoint-up(xxl){
			width: calc(529px + var(--bs-gutter-x)) !important;
		}
	}
	&__img{
		//@extend .accept-ratio-frame-nh;
		//padding-top: (577/529) * 100%;
		width: 100%;
		img{
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
	//
	&__p-row{
		padding-bottom: rem(40);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(50);
		}

		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(13)};
			--bs-gutter-y: #{rem(13)};
			padding-bottom: rem(66);
		}

		&:last-child{
			padding-bottom: 0;
		}
	}
	&__p-col{
		@include media-breakpoint-up(md){
			width: 20% !important;
		}
	}
	&__pill{
		text-align: center;
		background: rgba(32, 32, 32, 0.7);
		backdrop-filter: blur(5px);
		min-height: 100%;

		padding: rem(15) rem(5);
		@include media-breakpoint-up(sm){
			padding: rem(20) rem(5);
		}
		@include media-breakpoint-up(xxl){
			padding: 25px 7px 29px;
		}
	}
	&__p-img{
		width: 100%;
		height: rem(40);
		margin-bottom: 12px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__p-txt{
		font-weight: 300;
		line-height: 1;
		color: $white;
	}
	//
	&__p-title{
		font-size: rem(36);
		line-height: calc(44/36);
		color: $white;
		margin-bottom: rem(33);
	}
	&__p-descr{
		line-height: calc(26/16);

		p{
			margin-bottom: rem(16);
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	}
	//three-box
	&__three-box{
		padding-bottom: rem(60);
		@include media-breakpoint-up(xxl){
			padding-bottom: rem(93);
		}
	}
	&__title-box{
		& > *:last-child{
			margin-bottom: 0;
		}
		h2{
			font-size: rem(36);
			line-height: calc(44/36);
			margin-bottom: rem(33);
		}
		p{
			line-height: calc(26/16);
		}

		padding-bottom: rem(40);
		@include media-breakpoint-up(xxl){
			padding-bottom: rem(60);
		}

		&--three{

		}
		&--one{

		}
		&--row-box{

		}
	}
	&__three-row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(30)};
			--bs-gutter-y: #{rem(30)};
		}

	}
	&__t-img{
		@extend .accept-ratio-frame-nh;
		padding-top: calc(332/433 * 100%);
		box-shadow: 0px 45px 85px rgba(0, 0, 0, 0.2);
		overflow: visible;
	}
	//one-box
	&__one-box{
		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(90);
		}
	}
	&__o-img{
		@extend .accept-ratio-frame-nh;
		padding-top: calc(582/1360 * 100%);
		min-height: rem(300);

		overflow: visible;
		box-shadow: 0px 45px 85px rgba(0, 0, 0, 0.2);
	}
	//
	&__row-box{
		padding-bottom: rem(60);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(90);
		}
	}
	&__r-row{
		--bs-gutter-y: #{rem(35)};

		--bs-gutter-x: #{rem(30)};
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(60)};
		}
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(90)};
		}
	}
	&__r-img-col{
		@include media-breakpoint-up(xxl){
			width: calc(605px + var(--bs-gutter-x)) !important;
		}
	}
	&__r-img{
		@extend .accept-ratio-frame-nh;
		padding-top: calc(567/605 * 100%);


	}
	//tabs
	.pc-tabs{
		&__tabs-content{
			@include media-breakpoint-down(sm){
				display: block!important;
				opacity: 1!important;
				margin-bottom: rem(15);
			}
		}
		&__dd-item{
			&.active{
				--chevron-rotate: 180deg;
			}
		}

		&__dd-head{
			cursor: pointer;
			display: flex;
			align-items: center;
			background-color: lighten($gray-900, 8);
			color: $white;
			padding: rem(12) rem(16);

			font-size: rem(18);
			font-weight: 400;

			&:after{
				@include mt();
				transform: rotateX(var(--chevron-rotate, 0deg));
				content: '';
				width: rem(20);
				height: rem(20);
				flex-shrink: 0;

				background-image: url(../img/svg/chevron-down.svg);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;


				margin-left: auto;
			}
		}
		&__dd-content{
			display: none;
			&.active{
				display: block;
			}

			@include media-breakpoint-up(sm){
				display: block!important;
			}

			@include media-breakpoint-down(sm){
				padding: rem(30) 0;
			}
		}
		&__dd-img{
			flex-shrink: 0;
			width: rem(30);
			height: rem(30);
			margin-right: rem(20);


			display: flex;
			align-items: center;
			justify-content: center;

			svg{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;

				path,rect,circle{
					@include mt();
					fill: var(--i-link-col, #{$white})!important;
				}
			}
		}

		//
		padding-bottom: rem(35);
		@include media-breakpoint-up(xl){
			padding-bottom: rem(53);
		}
		&__caption-slider{
			padding-bottom: rem(35);
			@include media-breakpoint-up(xxl){
				padding-bottom: rem(47);
			}

			.swiper{
				overflow: visible!important;
			}
			.swiper-slide{
				width: auto;
				height: auto;

				@include media-breakpoint-up(md){
					padding-right: rem(10);
				}
				@include media-breakpoint-up(xxl){
					padding-right: rem(23);
				}
			}
		}

		&__tabs-btn{
			@include mt();
			line-height: calc(44/36);

			font-size: rem(20);
			// position: relative;
			@include media-breakpoint-up(lg){
				font-size: rem(24);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(36);
			}

			color: rgba($white, .6);
			&:hover{
				color: rgba($white, 1);
			}

			&.active{
				pointer-events: none;
				color: var(--bs-primary);
			}

			display: flex;
			align-items: center;
			height: 100%;
			span {
				// position: absolute;
				font-size: rem(16);
				// right: 0;
				// top: 0;
				color: $headings-color;
				background-color: #FFD2BF;
				min-width: 28px;
				min-height: 28px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: rem(9);
				border-radius: 58px;
			}
		}
		//
		&__char-table{

		}
		//
		&__ct-item{
			padding-bottom: rem(29.4);
			margin-bottom: rem(29.4);
			border-bottom: 1px solid $gray-830;

			//
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__ct-title{
			font-size: rem(24);
			line-height: calc(30/24);
			color: inherit;
			margin-bottom: rem(16);

			&.big{
				@include media-breakpoint-up(xxl){
					font-size: rem(25);
				}
			}
		}
		&__ct-tr-wrap{

		}
		&__ct-tr{
			--bs-gutter-x: #{rem(20)};
			--bs-gutter-y: #{rem(2)};

			padding-bottom: rem(16);
			@include media-breakpoint-up(md){
				padding-bottom: rem(8);
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
		&__ct-key{
			font-size: rem(18);
			font-weight: 500;
			@include media-breakpoint-up(md){
				font-weight: 400;
				font-size: rem(17);
			}
			line-height: calc(27/17);
			color: $gray-560;

			@include media-breakpoint-up(xxl){
				width: 35% !important;
			}
		}
		&__ct-val{
			@include media-breakpoint-up(md){
				font-size: rem(18);
			}
			line-height: calc(27/18);
			color: $white;
		}
	}

	//card
	&__card{
		padding-bottom: rem(80);
	}
	&__c-title{
		font-size: rem(24);
		@include media-breakpoint-up(sm){
			font-size: rem(36);
		}
		line-height: calc(44/36);
		color: $white;

		margin-bottom: rem(35);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(52);
		}
	}
	&__c-row{
		--bs-gutter-y: #{rem(35)};

		--bs-gutter-x: #{rem(30)};
		@include media-breakpoint-up(xl){
			--bs-gutter-x: #{rem(30)};
		}
		@include media-breakpoint-up(xxl){
			--bs-gutter-x: #{rem(58)};
		}
	}
	&__c-img-col{
		@include media-breakpoint-up(xl){
			width: 35% !important;
		}
		@include media-breakpoint-up(xxl){
			width: 42.9% !important;
		}
	}
	&__c-img{
		position: relative;
		//@extend .accept-ratio-frame-nh;
		//padding-top: calc(556/549 * 100%);
		.label-showroom{
			position: absolute;
			left: 0;
			margin: 0;
			bottom: 100%;
		}
		img{
			@extend  .res-i;
		}
	}
	&__char-col{
		@include media-breakpoint-up(xl){
			width: 26.6%!important;
		}
	}
	&__buy-col{
		display: flex;
		flex-direction: column;
	}
	.prodCard-buy{
		&__b-val{
			color: var(--bs-primary);
		}
		&__box{
			background-color: rgba(32, 32, 32, 0.7);

			@include media-breakpoint-up(xxl){
				padding: 41px 25px 49px 28px;
				margin-bottom: 56px;
			}
		}

		&__bonus-row{
			@include media-breakpoint-up(xxl){
				padding-bottom: rem(41);
			}
		}
		&__btns-row{
			@include media-breakpoint-up(xxl){
				padding-bottom: rem(49);
			}
		}
		//
		&__pill{
			border: 1px solid $gray-720;
			@include media-breakpoint-up(xxl){
				padding: 13px 29px 20px;
			}

			margin-bottom: rem(20);
			&:last-child{
				margin-bottom: 0;
			}
		}

		//
		&__btn--gray{
			color: $gray-120;
		}

	}

	//
	&__slider-wrap{
		position: relative;
		overflow: hidden;
		.swiper{
			overflow: visible!important;
		}
		.swiper-wrapper{}
		.swiper-slide{
			width: 100%;

			position: relative;
			&:not(.swiper-slide-active){
				&:after{
					opacity: 0.8;
				}
			}
			&:hover{
				&:after{
					opacity: 0.2;
				}
			}

			&:after{
				content: '';
				@include mt();
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var(--top-nav-bg,#{$gray-900});
			}
		}

		.swiper-prev,
		.swiper-next{
			@extend .ball-prev-next;
			position: absolute;
			z-index: 10;
			top: 50%;
			transform: translateY(-50%);
		}
		.swiper-prev{
			right: calc(100% + #{rem(30)});
		}
		.swiper-next{
			left: calc(100% + #{rem(30)});
		}
	}
	&__s-img{
		@extend .accept-ratio-frame;
		padding-top: calc(641/1360 * 100%);
		min-height: rem(300);
	}
	&__{}
	&__{}
	&__{}
} // end.sProd


.dark-page {
	.reviews {
		&__item {
			color: $headings-color;
			background-color: #fff;
		}
		&__head {
			h4 {
				color: $headings-color;
			}
		}
		&__text-item {
			h5 {
				color: $headings-color;
			}
		}
		&__btn {
			@extend .btn-primary;
			// background-color: var(--bs-primary);
			// color: $white;
			// &:hover {
			// 	color: #000;
			// }
		}
		&__showMore {
			border-color: #fff;
		}
	}

	
}
.reviews {
	h3 {
		@include rfs(24px);
		margin-bottom: rem(20);
	}
	&__stars {
		display: flex;
		align-items: center;
		margin-bottom: rem(39);
		.icon {
			font-size: rem(17);
			color: #FFD2BF;
			&.active {
				color: #FF8651;
			}
		}
	}
	&__how-much {
		margin-left: rem(13);
	}
	&__btn {
		@extend .btn-dark;
		display: block;
		max-width: rem(193);
		text-transform: uppercase;
		margin-bottom: rem(54);
		// background-color: #212121;
		// color: $white;
		&:hover {
			color: #FF8651;
		}
	}
	&__item {
		padding: rem(20);
		max-width: rem(1047);
		background-color: $gray-125;
		margin-bottom: rem(20);
		@include media-breakpoint-up(sm) {
			padding: rem(40) rem(86) rem(27) rem(66);
		}
	}
	&__head {
		display: flex;
		align-items: center;
		margin-bottom: rem(25);
		h4 {
			margin-right: rem(22);
			margin-bottom: 0;
		}
		p {
			color: $gray-550;
			font-size: rem(14);
			margin-bottom: 0;
		}
	}
	&__rate {
		margin-bottom: rem(30);
		p {
			color: $gray-550;
			margin-bottom: rem(4);
			font-size: rem(14);
		}

	}
	&__row {
		--bs-gutter-x: #{rem(15)};
		--bs-gutter-y: #{rem(15)};
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(110)};
		}
	}
	&__col {
		max-width: rem(280);
	}
	&__text {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(8);
		p {
			margin-bottom: 0;
			font-size: rem(14);
		}
	}
	&__features {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__line {
		display: block;
		height: 8px;
		width: 100%;
		background-color: $gray-115;
		border-radius: 93px;
		position: relative;
		--rate: 0;
		&:before {
			content: '';
			position: absolute;
			display: block;
			border-radius: 93px;
			height: 8px;
			width: calc((var(--rate) / 5) * 100%);
			background-color: var(--bs-primary);
			top: 0;
			left: 0;
		}
	}
	&__text-item {
		margin-bottom: rem(24);
		&:not(:last-child) {
			margin-bottom: rem(29);
		}
		h5 {
			@include rfs(18px);
			font-weight: 500;
			margin-bottom: rem(14);
		}
		p {
			margin-bottom: 0;
			font-size: rem(18);
		}
	}
	&__grade {
		display: flex;
	}
	&__button {
		background: transparent;
		border: none;
		display: flex;
		align-items: center;
		font-size: rem(14);
		&:not(:last-child) {
			margin-right: rem(20);
		}
		.icon {
			font-size: rem(14);
			color: $gray-550;
			margin-right: rem(8);
		}
	}
	&__showMore {
		width: 100%;
		max-width: rem(1047);
		border: 1px solid $gray-115;
		color: var(--bs-primary-light, #FF8651);
		&:hover {
			border-color: #000;
		}
	}
}