mixin sPayAttention(data)
	// start sPayAttention
	+b.SECTION.sPayAttention.section#sPayAttention&attributes(attributes).bg-wrap
		+img('img/@2x/lightBg.jpg', 'bg').picture-bg
		.container
			+b.section-title 
				p важная информация
				h2 Обратите внимание
			+e.wrap
				+e.icon-wrap
					+img('img/svg/attention.svg')
				+e.content
					+e.item
						p Приобретая технику в&nbsp;рассрочку, вы&nbsp;не&nbsp;можете воспользоваться другими видами скидок. На&nbsp;товар не&nbsp;будут распространяться:
						ul
							li &mdash;&nbsp;дисконтная программа
							li &mdash;&nbsp;скидки по&nbsp;акциям
							li &mdash;&nbsp;скидки по&nbsp;промокода
							li &mdash;&nbsp;подарки по&nbsp;акциям
					+e.item
						p Покупки в&nbsp;кредит без переплаты не&nbsp;выдается на&nbsp;социальные карты, карты электрон и&nbsp;маестро
					+e.item
						p Если клиент не&nbsp;зарегистрирован в&nbsp;Сбербанк Онлайн, то&nbsp;ему необходимо пройти регистрацию перед оформлением кредита, после чего вернуться на&nbsp;сайт магазина и&nbsp;нажать кнопку оплатить в&nbsp;личном кабинете магазина.
					+e.item
						p После нажатия на&nbsp;кнопку &laquo;Подать заявку через СберБанк Онлайн&raquo; на&nbsp;сайте Сбербанка, необходимо завершить процесс оформления кредита или довести до&nbsp;сохранения заявки на&nbsp;кредитование. К&nbsp;сохраненной заявке на&nbsp;сайте Сбербанка можно вернуться в&nbsp;течении 24&nbsp;часов.
					+e.item
						p Все заказы действуют и&nbsp;доступны клиенту для оформления 24&nbsp;часа. Если клиент обратился за&nbsp;выдачей кредита спустя это время, кредит не&nbsp;может быть оформлен.
					+e.item
						p Срок рассмотрения заявки&nbsp;&mdash; в&nbsp;среднем 3&nbsp;минуты, максимум 5&nbsp;минут.
					+e.item
						p Если превышено число заявок на&nbsp;кредит, то&nbsp;дата, когда клиент сможет повторно подать заявку на&nbsp;кредит, будет указана в&nbsp;СберБанк Онлайн.
					+e.item--tel
						p
							strong Коллцентр Сбербанка: 
							a(href="tel:+74955005550") +7&nbsp;495&nbsp;500 5550, 
							a(href="tel:88005555550") 8&nbsp;800&nbsp;555 5550.
					+e.item
						p Подробнее&nbsp;&mdash; на&nbsp;сайте сервиса #[a(href="#") &laquo;Покупай со&nbsp;Сбером&raquo;]
	// end sPayAttention