mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.table-wrap
				table
					thead
						tr
							th Критерий 
							th Гидролиз
							th Пиролиз
							th Катализ
					tbody
						tr
							td Принцип воздействия на загрязнения
							td Горячий пар размягчает налёт на стенках
							td Все загрязнения после нагрева до высокой температуры становятся золой, пеплом
							td Катализаторы, входящие в состав покрытия, расщепляют жир
						tr
							td Достигаемый эффект
							td Облегчение удаления размягченной грязи после процедуры гидролизной очистки
							td Полное очищение камеры от любых загрязнений, включая застарелые и въевшиеся
							td Предотвращение сильных загрязнений, удаление свежих пятен
						tr
							td Температурный режим
							td От 80 до 100 градусов Цельсия
							td До 500℃
							td От 170-180 до 250 градусов
						tr
							td Как часто проводить очистки
							td После каждой процедуры приготовления
							td По необходимости
							td После каждого случая эксплуатации
						tr
							td Нужна ли дополнительная ручная чистка после готовки
							td Да
							td Не требуется, нужно лишь убрать пепел
							td Да
						tr
							td Есть ли расходные материалы
							td Вода для образования пара
							td Нет
							td Каталитические специальные панели
						tr
							td Потребление электроэнергии
							td Небольшое
							td Высокое
							td Среднее
						tr
							td Цена духовок
							td Низкая
							td Большая
							td Среднее
	// end sContent