mixin sColaboration(data)
	// start sColaboration
	+b.sColaboration.section#sColaboration&attributes(attributes)
		.container
			+e.row.row
				+sColaborationItem(1, 'Дизайнеры')
					| Вы дизайнер и вашим клиентам необходима бытовая техника "под ключ"? Мы всегда рады помочь! Продумаем и подберём оптимальные варианты наборов как крупной, так и мелкой бытовой техники, поможем с установкой и настройкой, предложим специальные условия на покупку. А в нашем шоу-руме мы с удовольствием можем продемонстрировать, как выглядит и рабоает техника в реальных условиях: в нашем салоне представлены полностью оборудованные и действующие образцы кухонь!
				+sColaborationItem(2, 'Дропшипиинг')
					| Дропшиппинг - это такая схема продаж, когда продавец не хранит у себя товары, но является посредником между клиентом и поставщиком. Наша компания готова предложить и такой вариант партнёрства. Эта система подходит для вас, если у вас есть свой кухонный салон, розничный или интернет-магазин. Нет необходимости заключать договоры с большим количеством поставщиков или производителей, транспортными и логистическими компаниями, достачно подписать один - с нами. Вы принимаете заказа от клента у Вас на сайте / офлайн-точке, присылаете нам заявку через Личчный кабинет, а мы берём всё остальное на себя: доставим заказ клиенту, примем оплату, выдадим чек и обязательные документы. Вам остаётся только получить прибыль - маржа полностью Ваша. Оставляйте заявку на подключение к данной схеме и мы расскажем Вам более подробно о дропшиппинге, всех нюансах работы и поможем с первыми шагами.
				+sColaborationItem(3, 'Оптовые покупатели')
					| Для оптовых покупателей мы готовы предложить индивидуальные условия сотрудничества. Всегда актуальныая информация о наличии товара, его стоимости и условиях поставки доступна у наших менеджеров.
				+sColaborationItem(4, 'Кухонные салоны')
					| Для кухонных салонов мы разработали специальные условия по сотрудничеству: огромный ассортимент и официальная техника от крупнейших поставщиков, программа полного сервиса и отличные цены, всё то, что необходимо для наполнения кухни и дома клиента бытовой техникой!

	// end sColaboration

mixin sColaborationItem(imgNum, title)
	.col-md-6
		+e.item
			+e.img(href='#')
				img(loading="lazy" src=`img/@2x/sColaboration-${imgNum}.jpg` alt="")
			+e.title(href='#')=title
			+e.txt
				block