extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sHello/_sHello.pug
include ../blocks/sIcons/_sIcons.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sColaboration/_sColaboration.pug
include ../blocks/sContacts/_sContacts.pug
include ../blocks/sDelivery/_sDelivery.pug
include ../blocks/sActions/_sActions.pug
include ../blocks/sCredit/_sCredit.pug

block variables
	- let  mainPage= null 
	- let  bg= '07.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
		+brands()
	+b.page-head
		.container
			+breadcrumb('Главная', 'Рассрочка и кредит')
			h1 Рассрочка и кредит
	+sCredit()
	+footer()