mixin sGuarantee(data)
	// start sGuarantee
	+b.sGuarantee.section#sGuarantee&attributes(attributes)
		+e.img-wrap.bg-wrap
			+pic('sGuarantee-bg.png', 'bg', 0).picture-bg
			span
		+e.body
			.container
				+e.instruction
					p Компания &laquo;KitchenMania&raquo; представляет товары исключительно от&nbsp;официальных поставщиков с&nbsp;фирменной гарантией от&nbsp;производителя. Поэтому количество брака&nbsp;&mdash; минимально. Но, к&nbsp;сожалению, и&nbsp;у&nbsp;самых известных брендов бывает, что техника не&nbsp;выполняет свои функции в&nbsp;полной мере из-за технической неисправности. Закон о&nbsp;Защите Прав Потребителей регулирует этот момент и&nbsp;технически сложные изделия покупатель может бесплатно отремонтировать или, по&nbsp;направлению из&nbsp;сервисного центра, обменять.
					p Абсолютно вся техника, продаваемая в&nbsp;нашем магазине является официальной и&nbsp;имеет фирменную гарантию от&nbsp;производителя. Более подробные условия всегда указаны в&nbsp;гарантийном талоне.
					p Что делать, если товар оказался #[span.fw-600 ненадлежащего качества:]
					ul
						li Предъявите в&nbsp;сервисный центр компании-производителя или наш шоу-рум заявление, описывающее проблему, а&nbsp;также товарный и&nbsp;кассовый чеки (при отсутствии кассового или товарного чека, Вы&nbsp;можете сообщить сотруднику номер заказа, либо контактный телефон, указанный при оформлении заказа. В&nbsp;данном случае Вам необходимо будет предъявить действующий паспорт&nbsp;РФ, для того чтобы мы&nbsp;смогли идентифицировать Вас как нашего покупателя);
						li Вы&nbsp;можете потребовать устранения дефектов, замену товара, возврат или сокращение денежных средств;
						li Срок рассмотрения заявления&nbsp;&mdash; 10&nbsp;дней. В&nbsp;этот срок принимается решение о&nbsp;возврате или сокращении денежных средств, обмене либо ремонте товара;
						li Вы&nbsp;можете потребовать незамедлительного устранения дефекта. Если это невозможно, срок ремонта не&nbsp;должен превышать 45&nbsp;дней;
						li Срок обмена товара на&nbsp;другой аналогичный&nbsp;&mdash; 7&nbsp;дней, при необходимости дополнительной проверки качества&nbsp;&mdash; 20&nbsp;дней (срок продлевается до&nbsp;30&nbsp;дней в&nbsp;случае отсутствия товара на&nbsp;складе).
				+b.info-message
					+e.img-wrap
						+icon('icon-question')
						//- img(src="img/svg/icon-question.svg", alt="")
					+e.content
						h3 Если у&nbsp;вас остались вопросы:
						.row
							.col.col-sm-auto
								+e.title Звоните
								+e.tel(href="tel:+78005058293") Россия +7 (800) 505-82-93
								+e.tel(href="tel:+74951548137") Москва +7 (495) 154-81-37
							.col.col-sm-auto
								+e.title Пишите
								+e.mail(href="mailto:shop@kitchenmania.ru") shop@kitchenmania.ru




	// end sGuarantee