mixin sArticalCItem(txt)
	+e.c-item
		+e.main-link(href="#")=txt
		if block
			ul
				block

mixin sArticalItem(imgNum, title)
	+e.item
		+e.i-row.row
			+e.img-col.col-md-auto
				+e.img(href="#")
					img(src=`img/@2x/sArticalItem-${imgNum}.png` alt="" loading="lazy")
			.col-md
				+e.title(href="#")=title
				+e.descr
					p Двигатель обеспечивает инструменту стабильную, продуктивную работу. Воздушная система охлаждения эффективно отводит тепло, защищая мотор от перегрева. Конструкция довольно проста и устойчива к поломкам. Модель может комплектоваться удлинителем. Органы управления расположены на одной рукоятке.
				+e.char-title Характеристики
				+e.chars
					+sArticalCharItem('Диаметр бурения:', 'до 300 мм')
					+sArticalCharItem('Тип двигателя:', 'двухтактный, мощность – 1,9 л.с.;')
					+sArticalCharItem('Диаметр соединения:', 'стандартный')
					+sArticalCharItem('Вес устройства:', '6,5 кг')
					+sArticalCharItem('Шнек в комплекте:', 'не входит')
					+sArticalCharItem('Ёмкость резервуара для топлива:', '6 литров')
					//-+sArticalCharItem('', '')

mixin sArticalCharItem(key,val)
	+e.char
		+e.SPAN.key=key
		+e.SPAN.val=val

mixin sArticalBody()
	// start sArtical
	+b.sArtical.section#sArtical&attributes(attributes)
		+e.container.container
			+e.row.row
				+e.content-col.col-xl-3.col-lg-4
					+e.content-wrap
						+e.c-headline Содержание
						+e.content
							+sArticalCItem('Разновидности мотобуров')
							+sArticalCItem('Как правильно выбрать мотобур?')
								li: a(href="#") Тип двигателя
								li: a(href="#") Мощность и рабочий объем двигателя
								li: a(href="#") Редуктор
								li: a(href="#") Скорость вращения бура
								li: a(href="#") Диаметр шнека
								li: a(href="#") Дополнительные функции
							+sArticalCItem('Производители мотобуров')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
							+sArticalCItem('Популярные модели')
								li: a(href="#") Huter GGD-52
								li: a(href="#") Калибр БС-1650
								li: a(href="#") FUBAG FPB 52
								li: a(href="#") Champion AG243
							+sArticalCItem('Заключение')
				+e.txt-col.col 
					block
	// end sArtical
mixin sArtical(data)
	+sArticalBody()
					section
						h1
							| Как правильно выбрать посудомоечную машину: пособие
							|
							br
							//br can be removed
							| по подбору, уходу, сервису
						mixin list()
							ul
								- for (var x = 0; x < 5; x++)
									li Уменьшение расхода воды. При мытье посуды вручную за год тратится примерно на 7-8 тысяч литров больше, чем при эксплуатации посудомойки.
						+list()
						+b.custom-list--plus
							+list()
						+b.custom-list--minus
							+list()
						i Полезно знать! В один полный комплект (набор) входят чашка и блюдце для десерта, четыре разных по глубине тарелки (для первого и второго блюд, для хлеба, для салата), две ложки/вилки, стакан и нож.
						p Ассортимент мотобуров довольно широкий. На рынке представлены инструменты разных производителей. Модели различаются по техническим характеристикам, функциональным возможностям, качеству исполнения, стоимости. Классифицируются их по назначению на бытовые и профессиональные. Первые предназначены для работы на приусадебном участке, в саду, на даче, вторые используют на стройплощадках, при проведении геологических исследований и пр. Как выбрать хороший мотобур? Ответить на этот вопрос непросто. Нужно проанализировать различные параметры, сравнить модели, чтобы подобрать наиболее подходящий под ваши цели инструмент.
					section
						h2 Разновидности мотобуров
						p Перед тем как приступать к выбору мотобура, следует ознакомиться с разновидностями инструментов. Какие они вообще бывают и для чего применяются? Классифицируют устройства по нескольким параметрам.
						p Ассортимент мотобуров довольно широкий. На рынке представлены инструменты разных производителей. Модели различаются по техническим характеристикам, функциональным возможностям, качеству исполнения, стоимости. Классифицируются их по назначению на бытовые и профессиональные. Первые предназначены для работы на приусадебном участке, в саду, на даче, вторые используют на стройплощадках, при проведении геологических исследований и пр. Как выбрать хороший мотобур? Ответить на этот вопрос непросто. Нужно проанализировать различные параметры, сравнить модели, чтобы подобрать наиболее подходящий под ваши цели инструмент.
					section
						h2 Как выбрать мотобур правильно?
						p Выбрать хороший мотобур не так-то просто. Если вы хотите купить действительно надежное устройство, которое прослужит долго, исправно выполняя поставленные задачи, доверяйте продукции известных производителей. Перед тем как отдать деньги за инструмент, почитайте отзывы, ознакомьтесь с техническими характеристиками и особенностями моделей, проведите сравнение по ценам.
					section
						h2 Тип двигателя
						p Наверное, главный критерий выбора, от которого зависят эксплуатационные свойства инструмента, это тип силового агрегата. Производители оснащают свои мотобуры двухтактными и четырехтактными двигателями. Первые устанавливают в моделях бытового класса, вторые используют для комплектации профессиональных инструментов.
						p Мотобуры с двухтактными моторами более компактные, имеют меньший вес, стоят дешевле. Работают они на бензиново-масляной смеси, которую нужно готовить перед каждым применением. К недостаткам относят шумность, увеличенный расход бензина и масла.
						p Инструменты, предназначенные для интенсивной эксплуатации в сложных условиях, оснащаются четырехтактными двигателями. Такие моторы работают на бензине. Масло заливается в отдельный резервуар. 4-тактные двигатели более экологичны, обеспечивают мотобуру высокую производительность. Но стоят такие модели дорого. К другим минусам относят большой вес, требовательность к качеству топлива.
					section
						h2 Мощность и рабочий объем двигателя
						p.mb-0 От мощности инструмента зависит то, с какими задачами он сможет справляться. Этот критерий связан с такими параметрами, как рабочий объем мотора и максимальный диаметр бурения. Чем мощнее агрегат, тем больше будет весить инструмент, и тем выше его стоимость. Соотношение объёма двигателя и диметра отверстия:
						ul
							//•
							li 43 см3 – до 15 см – самые простые, маломощные устройства;
							li 52 см3 – до 20 см – модели способны справляться с большинством задач на дачном и приусадебном участке;
							li 65 см3 – до 25 см – эффективно выбуривают отверстия даже на плотной и мерзлой земле, хорошо себя проявляют на сложных грунтах;
							li 75 см3 – до 30 см – мощные профессиональные агрегаты, предназначенные для выполнения сложных задач.
						p В продаже есть модели, которые комплектуются и более мощными двигателями. Они совместимы со шнеками большого диаметра, рассчитаны на управление двумя операторами. Рабочий объем двухтактных моторов достигает 90 см3, четырехтактных – 200 см3. Инструменты способны бурить отверстия диаметром до 60 см, хорошо себя проявляют на забитых глинистых почвах.
					section
						h2 Редуктор
						p Важный комплектующий элемент мотобура – редуктор. Этот механизм предназначен для повышения вращательного момента бура. Его размер влияет на стоимость инструмента. Чем больше редуктор, тем дороже устройство. Передаточное отношение большинства моделей бытового класса составляет 30 к 1
					section
						h2 Скорость вращения бура
						p Этот показатель нужно учитывать при выборе мотобура для грунта определенного состава и плотности. Например, если предполагается работа на лёгких грунтах, подойдет модель со скоростью вращения более 250 об./мин. А вот модели, у которых этот параметр не превышает 200 об./мин, можно использовать для бурения отверстий в разных почвах, а также в ледовой толще.
					section
						h2 Вес устройства
						p Если предполагается работа на строительной площадке, бурение лунок под посадку саженцев или эксплуатация инструмента на зимней рыбалке, можно купить устройство, вес которого не превышает 16 кг. Для подготовки ям под опорные столбы или заземляющий контур рекомендуется использовать более производительные, габаритные и тяжёлые агрегаты весом от 17 кг.
					section
						h2 Производители мотобуров
						p На современном рынке представлены модели разных торговых марок. Раньше фирменные инструменты были для многих недоступны из-за высоких расходов на их изготовление. Сегодня же купить брендовый мотобур можно по весьма привлекательной стоимости. Дело в том, что многие крупные компании из Европы перенесли свои производственные мощности в Китай, добившись, таким образом, снижения себестоимости устройств. Доступны также инструменты малоизвестных китайских торговых марок, но качество их сборки может вызывать сомнения.
						p.mb-0 Если планируете покупать мотобур, обязательно учитывайте бренд, под которым выпускается инструмент. Конечно, неудачные модели есть практически у каждого производителя, но фирменные устройства таки надежнее и производительнее.
						ul
							li Hitachi. Уже лет 6 инструменты этой торговой марки изготавливаются в Китае. Особенно популярные модели, рассчитанные на управление одним оператором.
							li Oleo-Mac. Торговая марка принадлежит итальянской компании. К преимуществам моделей относят высокое передаточное число и великолепное качество сборки. Производитель на надежности и безопасности инструментов не экономит.
							li Echo. Японский бренд, но некоторые модели изготавливаются в США. Цена инструментов высокая, но и качество соответствующее. Особенностью моделей является встроенный адаптер. Его устанавливают не на мотобур, а на шнек.
							li Stihl. Немецкая компания выпускает инструменты, которые сочетают в себе великолепное качество сборки, безупречную функциональность, надежность. В линейке есть модели, рассчитанные на одного или двух операторов.
						p Хорошие мотобуры выпускают такие производители, как Чемпион, Хутер, Калибр, Фубаг и др. Фирменный инструмент бытового класса можно приобрести по цене до 10 000 рублей. За профессиональный агрегат придётся отдать больше – от 30 000 рублей.
					section
						h2 Популярные модели
						+e.items
							+sArticalItem(1, 'Huter GGD-52')
							+sArticalItem(2, 'Калибр БС-1650')
							+sArticalItem(3, 'FUBAG FPB 52')
							+sArticalItem(4, 'Champion AG243')
					section
						h2 Заключение
						p Мотобур – специализированный инструмент, который прослужит долго, если обеспечить ему правильный уход и обслуживание. Ответственно подходите к вопросу выбора модели. Доверяйте продукции проверенных торговых марок. Фирменные инструменты характеризуются высокой производительностью, надёжностью, долговечностью. Перед тем как начинать работу, обязательно ознакомьтесь с инструкцией, соблюдайте правила эксплуатации. Используйте рекомендуемое производителем масло, топливо марки АИ-92.




mixin bestArtical(i)
	+b.bestArtical-item
		+e.head
			.row
				.col
					+e.title
						a(href="#")  Midea MRB519SFNDX5
					+e.price 49 990 руб.
				+e.col.col-md-4.order-md-first
					+e.left-block
						+e.img-wrap(href="#")
							+pic(`artical-prod-${i}.png`,'',0)
						+e.logo(href="#")
							+pic(`artical-logo-${i}.png`,'',0)
		+e.body
			.row
				.col-md-4
				.col
					+e.content
						p Это двухкамерный холодильник с хорошим полезным объёмом, электронным управлением, одним компрессором.
						+b.custom-list--plus
							p Рассмотрим плюсы:
							ul
								li незначительный шум – 41 дБ;
								li система разморозки Full No Frost;
								li сенсорное понятное управление с ярким дисплеем;
								li наличие зоны свежести;
								li индикация включения, открытой дверцы, температур, включения;
								li яркое освещение;
								li точные регулировки температур для морозильной/холодильной камер.
						+b.custom-list--minus
							p Минусы:
							ul 
								li разморозка: ручная для морозилки, капельная – для холодильной камеры.
mixin sArtical2(data)
	+sArticalBody() 
		p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor repudiandae quas porro quisquam sapiente dolorum neque #[a(href="#") temporibus veritatis], incidunt nihil voluptatibus quod odit eaque dolores dolorem et recusandae fuga excepturi quibusdam. Nemo architecto natus, labore cum tempora ipsam laboriosam atque.
		h2 Самые лучшие модели нынешнего года
		p На российском рынке представлены приборы разных производителей. Они выпускаются такими мировыми гигантами как Bosch, Teka, Midea, Smeg и прочими. Ниже рассмотрим самые популярные модели, входящие в топ лучших холодильников нынешнего года. Этот рейтинг составляли мастера и эксперты, оценивая основные характеристики и отзывы владельцев.
		div
			+bestArtical(1)
			+bestArtical(2)

