mixin sExchange(data)
	// start sExchange
	+b.sExchange.section#sExchange&attributes(attributes)
		.container
			+e.row.row
				.col-lg
					+e.top-txt Обмен и возврат товара как надлежащего, так и ненадлежащего качества производится в соответствии с ФЗ «О защите прав потребителя».
					+e.gray
						span
							| Обращаем ваше внимание, что согласно закону о защите прав потребителя, статья 26.1. «Дистанционный способ продажи товара», при покупке товара в интернет-магазине, покупатель вправе отказаться от товара в любое время до его передачи, а
							|
						span.text-primary после передачи товара в течении 7 дней.
					+e.txt-content
						p Возврат товара надлежащего качества в течении 7 дней возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по чеку, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через 10 дней со дня предъявления соответствующего требования.
						blockquote В случае если в приобретенном покупателем изделии не выявилось каких-либо дефектов в течение первых 7 дней, которые даются для проверки качества товара, с момента покупки изделия, все дальнейшее обслуживание идет только в сертифицированных сервисных центрах производителя изделия согласно условиям, указанным в гарантийном талоне производителя, который выдавался вам при покупке.
						p Компания «KitchenMania» представляет товары исключительно от официальных поставщиков с фирменной гарантией от производителя. Поэтому количество брака – минимально. Но, к сожалению, и у самых известных брендов бывает, что техника не выполняет свои функции в полной мере из-за технической неисправности. Закон о Защите Прав Потребителей регулирует этот момент и технически сложные изделия покупатель может бесплатно отремонтировать или, по направлению из сервисного центра, обменять.
				.col-lg-4
					+e.img
						img(loading="lazy" src="img/@2x/sExchange.png" alt="")
	// end sExchange