mixin sDontCreatProblems(data)
	// start sDontCreatProblems
	+b.sDontCreatProblems.section#sDontCreatProblems&attributes(attributes).bg-wrap
		+img('img/@2x/lightBg.jpg', 'bg').picture-bg
		+e.container.container
			+e.row.row
				.col-md-6
					+e.img-wrap
						.img-wrap-center
							+img('img/@2x/sDontCreatProblems-img.png')
				.col-lg-6.ml-auto
					+e.title Не создаём препятствий
					p Чтобы поделить оплату достаточно карты любого банка
					+e.subtitle НУ И ДЕНЕГ НА ПЕРВЫЙ ПЛАТЁЖ, КОНЕЧНО
	// end sDontCreatProblems