mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.sFAQ-dd-items-js.section#sFAQ&attributes(attributes).bg-wrap
		+img("img/@2x/sCertificates-head-1.jpg", 'bg').picture-bg
		.container
			+b.section-title
				p НЕДОСТАТОЧНО ИНФОРМАЦИИ?
				h2 Отвечаем на вопросы
			.row
				.col
					+e.dd-wrap
						mixin ddItem(title)
							+e.dd-item
								+e.title.dd-head-js
									p!= title
									+icon('chevron-down')
								+e.dd-content.dd-content-js
									block
						+ddItem('Есть какие-то требования к&nbsp;тем, кто хочет воспользоваться сервисом?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Я&nbsp;заплачу проценты или иные платежи за&nbsp;использование сервиса?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Где можно будет посмотреть дату списания платежей? Мне придут напоминалки?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('А&nbsp;что если я&nbsp;потеряю карту, с&nbsp;которой должны списываться платежи или решу поменять&nbsp;ее? Где это сделать?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Как купить товар с&nbsp;&laquo;Плати частями&raquo;? Я&nbsp;должен быть зарегистрирован в&nbsp;сервисе заранее?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Мне нужны какие-то документы, чтобы платить частями?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
	// end sFAQ

mixin sFAQ2(data)
	// start sFAQ
	+b.SECTION.sFAQ.sFAQ-dd-items-js.section#sFAQ&attributes(attributes).bg-wrap
		+img('img/@2x/lightBg.jpg', 'bg').picture-bg
		.container
			+b.section-title
				p НЕДОСТАТОЧНО ИНФОРМАЦИИ?
				h2 Отвечаем на вопросы
			+e.dd-wrap
				.row
					.col-lg-6
						mixin ddItem(title)
							+e.dd-item
								+e.title.dd-head-js
									p!= title
									+icon('chevron-down')
								+e.dd-content.dd-content-js
									block
						+ddItem('Какие условия сервиса «Долями»?')
							p Для оформления заказа потребуется наличие банковской карты и&nbsp;номера телефона.
							p Сумма всех изделий в&nbsp;заказе должна быть от&nbsp;0&nbsp;рублей и&nbsp;до&nbsp;29 999,99&nbsp;рублей.
							p Оплата заказа будет разделена на&nbsp;4&nbsp;части по&nbsp;25% от&nbsp;стоимости заказа:
							ul
								li ▸ первая спишется сразу; 
								li ▸ вторая спустя две недели после первой оплаты; 
								li ▸ третья спустя две недели после второй оплаты;
								li ▸ четвертая спустя две недели после третьей оплаты.
							p За&nbsp;1&nbsp;день до&nbsp;списания планового платежа Вам будет направлено СМС-напоминание. Следите за&nbsp;балансом карты.
						+ddItem('Как купить товар «Долями»?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Нужна&nbsp;ли регистрация в&nbsp;сервисе &laquo;Долями&raquo; перед оформлением?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Есть&nbsp;ли переплата за&nbsp;использование сервиса &laquo;Долями&raquo;?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Как купить товар с&nbsp;&laquo;Плати частями&raquo;? Я&nbsp;должен быть зарегистрирован в&nbsp;сервисе заранее?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Мне нужны какие-то документы, чтобы платить частями?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
					.col-lg-6
						+ddItem('Какие условия сервиса «Долями»?')
							p Для оформления заказа потребуется наличие банковской карты и&nbsp;номера телефона.
							p Сумма всех изделий в&nbsp;заказе должна быть от&nbsp;0&nbsp;рублей и&nbsp;до&nbsp;29 999,99&nbsp;рублей.
							p Оплата заказа будет разделена на&nbsp;4&nbsp;части по&nbsp;25% от&nbsp;стоимости заказа:
							ul
								li ▸ первая спишется сразу; 
								li ▸ вторая спустя две недели после первой оплаты; 
								li ▸ третья спустя две недели после второй оплаты;
								li ▸ четвертая спустя две недели после третьей оплаты.
							p За&nbsp;1&nbsp;день до&nbsp;списания планового платежа Вам будет направлено СМС-напоминание. Следите за&nbsp;балансом карты.
						+ddItem('Как купить товар «Долями»?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Нужна&nbsp;ли регистрация в&nbsp;сервисе &laquo;Долями&raquo; перед оформлением?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Есть&nbsp;ли переплата за&nbsp;использование сервиса &laquo;Долями&raquo;?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Как купить товар с&nbsp;&laquo;Плати частями&raquo;? Я&nbsp;должен быть зарегистрирован в&nbsp;сервисе заранее?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
						+ddItem('Мне нужны какие-то документы, чтобы платить частями?')
							p Необходимо наличие дебетовой карты любого банка. Сервис доступен гражданам&nbsp;РФ от&nbsp;18-70 лет
				
	// end sFAQ
