mixin sCredit(data)
	// start sCredit
	+b.SECTION.sCredit.section#sCredit&attributes(attributes)
		.container
			+e.main-row.row
				.col-md
					+b.section-title
						h2 Рассрочка по программе «покупай со Сбером»
						p Выберите на нашем сайте kitchenmania.ru товар или услугу, положите его (её) в корзину. Далее в способах оплаты выберите и нажмите «Покупай со Сбером». После с вами свяжется менеджер магазина, уточнит детали заказа и направит ссылку для оформления кредита\рассрочки. Когда откроется СберБанк Онлайн, авторизуйтесь и заполните заявку. Рассмотрение заявки займет не более 2-х минут Если кредит одобрен, деньги за покупку автоматически будут перечислены на счёт магазина Согласуйте с магазином комфортный способ и время доставки
					+e.gray Владельцы дебетовой банковской карты ПАО Сбербанк, подключившиеся к услуге «Мобильный банк» и системе «Сбербанк Онлайн», могут оформить рассрочку платежа, не выходя из дома.
					+e.row.row
						.col-xl-6
							+e.box
								h4 Условия кредитования
								+e.items
									+sCreditItem('Цель кредита:', 'на цели личного потребления')
									+sCreditItem('Валюта кредита:', 'рубли')
									+sCreditItem('Процентная ставка (годовая), %:', 'Определяется индивидуально и указывается в индивидуальных условиях кредитования')
									+sCreditItem('Минимальная сумма кредита:', '3 000')
									+sCreditItem('Максимальная сумма кредита*:', ' 300 000')
									+sCreditItem('Срок действия кредита**:', 'от 3 до 36 мес.')
									+sCreditItem('Обеспечение по кредиту:', 'не требуется')
									+sCreditItem('Комиссия за выдачу кредита:', 'отсутствует')
								+e.sm * Лимит суммарного остатка задолженности по данному продукту не должен превышать 300 000 рублей.
								+e.sm
									| ** Минимальный/максимальный срок кредитования может быть изменён в рамках достигнутой договорённости с соответствующим партнёром Банка Подробнее с условиями кредитования можно ознакомиться на
									|
									a(href="#") сайте программы.
						.col-xl-6
							+e.box
								h4 Требования к заемщикам
								+e.items
									+sCreditItem('Гражданство:', 'Российская Федерация')
									+sCreditItem('Возраст:', 'не менее 21 года')
									+sCreditItem('Возраст на момент возврата кредита по договору:', 'не более 65 лет')
									+sCreditItem('Использование сервисов Банка:', 'держатель дебетовой банковской карты, выпущенной Банком, заключивший с Банком Договор банковского обслуживания, а также подключившийся к услуге «Мобильный банк» и системе Сбербанк Онлайн')
									+sCreditItem('Регистрация:', 'наличие постоянной (временной) регистрации по месту жительства/пребывания на территории Российской Федерации')
				+paymentSliderCol()
	// end sCredit

mixin sCreditItem(bold, txt)
	+e.item
		b=bold
		span=txt