mixin sConnectionHead(data)
	// start sConnectionHead
	+b.SECTION.sConnectionHead#sConnectionHead&attributes(attributes).bg-wrap
		+pic('сonnectionHead-bg.jpg', 'bg').picture-bg
		.container
			+e.inner.section
				h2 Вся техника, представленная в&nbsp;нашем магазине, подключается на&nbsp;готовые коммуникации бесплатно*!
	// end sConnectionHead