mixin sLMap(data)
	// start sLMap
	+b.SECTION.sLMap#sLMap&attributes(attributes)
		+e.map
			.make-yandex-lazy-js(data-src="<script type=\"text/javascript\" charset=\"utf-8\" async src=\"https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A00d48b3f3386e58651320b3706a9840cff2ea7d16eaa7d7c09d98fdfb6e71942&amp;width=716&amp;height=720&amp;lang=ru_RU&amp;scroll=false\"></script>")
	// end sLMap