// start .sCertificatesHead
.sCertificatesHead {
	--sPT: #{rem(140)};
	--sPB: #{rem(332)};
	// --sTPB: ;
	position: relative;
	.offer-under{
		img{
			width: 100%;
		}
	}
	.offer-i{
		img{
			width: fit-content;
			margin-left: auto;
			right: 0;
		}
		&::before{
			content: '';
			background: linear-gradient(90deg, #1A1A1A 0%, rgba(0, 0, 0, 0) 48.53%);
			width: 100%;
			max-width: 1225px;
			height: 100%;
			position: absolute;
			right: 0;
			z-index: 1;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCertificatesHead

.sCertificatesHead__offer{
	color: $white;
	h2{
		color: $white;
		@include rfs(59px);
	}
	
}
