mixin sCertificatesHead(data)
	// start sCertificatesHead
	+b.SECTION.sCertificatesHead.section#sCertificatesHead&attributes(attributes)
		+pic('sCertificates-head-1.jpg', 'bg').picture-bg.offer-under
		+pic('sCertificates-head.jpg', 'bg').picture-bg.offer-i
		.container
			.row 
				.col-lg-6 
					+e.offer
						h2 Гарантия качества
						p 
							| Клиенты нашего салона не&nbsp;сомневаются в&nbsp;качестве приобретаемой
							| продукции, так как о&nbsp;нем свидетельствуют сертификаты, выданные 
							| фирмами-производителями бытовой и&nbsp;климатической техники
	// end sCertificatesHead