mixin sParkingMap(data)
	// start sParkingMap
	+b.sParkingMap.section#sParkingMap&attributes(attributes)
		+e.map
			#map(data-mark="img/svg/circle-map.svg")
			//- <div id="map"style="width:100%; height:360px"></div>
			<script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&amp;lang=ru-RU&amp;apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c"></script>
			script.
				const map = document.querySelector('#map');
				document.addEventListener('DOMContentLoaded', function(event) {
					ymaps.ready(init);
				});
				function init () {
					//- var center = [55.75322550427434,37.65589449999999];
					var center = [55.803299806784906,37.59322146673064];
					var myMap = new ymaps.Map("map", {
									center: center,
									zoom: 17
							}),
							myPlacemark2 = new ymaps.Placemark(center, {
									// Свойства.
									// hintContent: 'Собственный значок метки'
							}, {
									// Опции.
									// Своё изображение иконки метки.
									iconImageHref: map.dataset.mark,
									//- iconImageHref: 'img/svg/map-marker.svg',
									// Размеры метки.
									iconImageSize: [223, 223],
									// Смещение левого верхнего угла иконки относительно
									// её "ножки" (точки привязки).
									iconImageOffset: [-111, -111]
									//- [-38, -76]
							});
					myMap.behaviors.disable('scrollZoom');
					//на мобильных устройствах... (проверяем по userAgent браузера)
					if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
					//... отключаем перетаскивание карты
						myMap.behaviors.disable('drag');
					}
					// Добавляем все метки на карту.
					myMap.geoObjects
						.add(myPlacemark2)
				}
	// end sParkingMap