mixin sMap(data)
	// start sMap
	+b.sMap.section#sMap&attributes(attributes)
		.container
			+e.row.row
				+e.bm-col.col-lg-3
					+e.bold-menu
						ul
							li: a(href="#") Доставка и оплата
							li: a(href="#") Акции
							li: a(href="#") Рассрочка и кредит
							li: a(href="#") Обмен и возврат
							li: a(href="#") Гарантия
							li: a(href="#") Статьи
							li: a(href="#") Карта сайта
							li: a(href="#") Вакансии
							li: a(href="#") Сотрудничество
							li: a(href="#") Контакты
							li: a(href="#") Вход для партнеров
				.col
					+e.sub-row.row
						.col-sm-6.col-md-4
							+e.title(href='#') Встраиваемая техника
							+e.menu
								ul
									li: a(href="#") Варочные панели
									li: a(href="#") Панели домино
									li: a(href="#") Комбинированная панель
									li: a(href="#") Газовые панели
									li: a(href="#") Индукционные панели
									li: a(href="#") Винные шкафы
									li: a(href="#") Вытяжки
									li: a(href="#") Вытяжки в столешницу
									li: a(href="#") Вытяжки в шкаф
									li: a(href="#") Духовые шкафы
									li: a(href="#") Газовый духовой шкаф
									li: a(href="#") Компактный духовой шкаф
									li: a(href="#") Электрический духовой шкаф
									li: a(href="#") Кофемашины
									li: a(href="#") Микроволновые печи
									li: a(href="#") Морозильные камеры
									li: a(href="#") Посудомоечные машины
									li: a(href="#") Стиральные машины
									li: a(href="#") Холодильники
									li: a(href="#") Двухдверные холодильники
									li: a(href="#") Однокамерные холодильники
									li: a(href="#") Шкафы для подогрева посуды
						.col-sm-6.col-md-4
							+e.title(href='#') Крупная бытовая техника
							+e.menu
								ul
									li: a(href="#") Винные шкафы
									li: a(href="#") Вытяжки
									li: a(href="#") Вытяжки под шкаф
									li: a(href="#") Каминные вытяжки
									li: a(href="#") Островные вытяжки
									li: a(href="#") Пристенные вытяжки
									li: a(href="#") Кухонные плиты
									li: a(href="#") Газовые плиты
									li: a(href="#") Комбинированные плиты
									li: a(href="#") Плиты электрические стеклокерамические настольные
									li: a(href="#") Электрические плиты
									li: a(href="#") Морозильные камеры
									li: a(href="#") Посудомоечные машины
									li: a(href="#") Посудомоечные машины напольные
									li: a(href="#") Стиральные машины
									li: a(href="#") Вертикальные стиральные машины
									li: a(href="#") Фронтальные стиральные машины
									li: a(href="#") Сушильные автоматы
									li: a(href="#") Холодильники
									li: a(href="#") Двухкамерные холодильники
									li: a(href="#") Морозильные лари
									li: a(href="#") Холодильники Side by Side
						.col-sm-6.col-md-4
							+e.title(href='#') Мелкая кухонная техника
							+e.menu
								ul
									li: a(href="#") Блендеры
									li: a(href="#") Блендеры стационарные
									li: a(href="#") Вафельницы
									li: a(href="#") Кофеварки
									li: a(href="#") Капельные кофеварки
									li: a(href="#") Рожковые кофеварки
									li: a(href="#") Кофемолки
									li: a(href="#") Кухонные весы
									li: a(href="#") Электрические кухонные вес
									li: a(href="#") Кухонные комбайны
									li: a(href="#") Микроволновые печи
									li: a(href="#") Миксеры
									li: a(href="#") Мультиварки
									li: a(href="#") Мясорубки
									li: a(href="#") Электромясорубки
									li: a(href="#") Соковыжималки
									li: a(href="#") Шнековые соковыжималки
									li: a(href="#") Тостеры
									li: a(href="#") Чайники электрические
									li: a(href="#") Сантехника для кухни
									li: a(href="#") Измельчители пищевых отходов
									li: a(href="#") Кухонные мойки
									li: a(href="#") Сифоны для кухонных моек
									li: a(href="#") Смесители для моек
	// end sMap