mixin sDontGetLost(data)
	// start sDontGetLost
	+b.SECTION.sDontGetLost.section#sDontGetLost&attributes(attributes).bg-wrap
		+img('img/@2x/lightBg.jpg', 'bg').picture-bg
		.container
			+e.row.row
				+e.col-img.col-lg-5
					+img('img/@2x/sDontGetLost-img-1.png')
				+e.col.col-lg-5
					h2 Не теряйтесь в графиках платежей!
					p Никаких процентов и скрытых платежей
					+img('img/@2x/qr.png')
	// end sDontGetLost